
	<!--where the form goes (/users) and how (post)-->
	<form method= "POST" action= "/users">
		<!-- #<User @id=nil 
					@first_name=nil 
					@last_name=nil 
					@username=nil 
					@password=nil> -->
	
		<p><label>First Name</label><input type="text" name="first_name" />	</p>
		<p><label>Last Name</label><input type="text" name="last_name" />	</p>
		<p><label>Username:</label><input type="text" name="username" />	</p>
		<p><label>Password:</label><input type="password" name="password" /></p>
	<p>	<input type="submit" value="submit" /></p>

	</form>

